h2{
    font-size: 20px; 
    font-weight: 600;
}

.questionItem{
    margin-bottom: 20px;
}

.questionIndex{
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid #eee;
    padding: 10px 20px;
}

.leftMargin{
    margin-left: 20px
}

.blueText{
    color: blue;
    margin: 10px 20px;
}
.redText{
    color: red;
    margin: 10px 20px;
}

.boldText{
    font-weight: bold;
}